[user]
	email = alivezeh@gmail.com
	name = Jose Vilca Campana <@marcusmors>
[core]
	pager = delta --line-numbers
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	syntax-theme = Dracula
[merge]
	conflictStyle = zdiff3
