base-files
bash
bat
bettercap
bison
bsdutils
build-essential
ccache
clang
clang-18
clangd-18
cmake
coreutils
cuda-keyring
cuda-toolkit
curl
dash
debianutils
dialog
diffutils
direnv
docker.io
elixir
erlang
erlang-dev
feh
ffmpeg
file
findutils
flex
fonts-noto-color-emoji
freeglut3-dev
fzf
g++
g++-14
gcc-multilib
gdb
git
git-delta
gnupg2
graphviz
grep
gzip
hostname
htop
init
jq
kcachegrind
kdialog
libattr1
libbenchmark-dev
libbz2-dev
libeigen3-dev
libepoxy-dev
libffi-dev
libgl1-mesa-dev
libglew-dev
libglfw3
libglfw3-dev
libglu1-mesa-dev
libgraphviz-dev
libgtk2.0-dev
liblzma-dev
libncurses-dev
libopenmpi-dev
libreadline-dev
libsfml-dev
libsqlite3-dev
libssl-dev
libvtk9-dev
libxkbcommon-dev
libxml2-dev
libxmlsec1-dev
lld
lld-16
lld-18
lldb-18
llvm
login
lsb-release
make
mesa-common-dev
mesa-utils
ncal
ncurses-base
ncurses-bin
net-tools
nfs-common
nfs-kernel-server
ninja-build
nodejs
npm
nvidia-cuda-toolkit
nvidia-utils-520
openjdk-17-jdk
openmpi-bin
openmpi-common
openssh-server
pandoc
pciutils
pipx
pkg-config
plocate
postgresql-17
postgresql-client-17
postgresql-server-dev-17
procps
python3
python3-flask
python3-glad
python3-pip
python3-pygame
python3-venv
python3.12-venv
ruby-full
sherlock
tesseract-ocr
texlive-xetex
tk-dev
tree
ubuntu-minimal
ubuntu-wsl
ufw
util-linux
valgrind
wget
xclip
xorg-dev
xz-utils
yadm
yt-dlp
zlib1g-dev
zsh
